#app {
}

#board {
    border: 20px solid #000000;
    height: 80dvh;
    width: 80dvh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.square {
    min-width: 10dvh;
    min-height: 10dvh;
    box-sizing: border-box;
}

.even {
    background-color: #E9EDCC;
}

.odd {
    background-color: #779954;
}

.player-white {
    background-color: #FFFFFF;
    color: black;
}

.player-black {
    background-color: #000000;
    color: white;
}

.selected-piece {
    background-color: #ec3636;
}

.possible-move {
    background-color: #f16464;
}
